In [11]:
print("hello world", "good morning", end="\t")
print("okay, let's do it")

hello world good morning	okay, let's do it

### Miscellaneous

In [3]:
import math

circle = int(input("Write diameter of the circle: "))
half_dia = int(circle) / 2 # calculation of radius.
pi = 3.14 #average value of pi
area = pi * (math.pow(half_dia, 2))
print(f"area of the circle is: {area}.")

Write diameter of the circle: 4
area of the circle is: 12.56.

In [4]:
age = int(input("Write your age, please: "))
if age >= 15:
    print("Okay, no problem.")
else:
    print("More you are little.")

Write your age, please: 15
Okay, no problem.

In [3]:
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [1]:
i = 1
while i < 12:
    if i % 2 == 1:
        print(f"number single: {i}")
    else:
        print(f"number double: {i}")
    i += 1
    print('-' * 10)

number single: 1
----------
number double: 2
----------
number single: 3
----------
number double: 4
----------
number single: 5
----------
number double: 6
----------
number single: 7
----------
number double: 8
----------
number single: 9
----------
number double: 10
----------
number single: 11
----------

In [10]:
numbers = [1,2,3,4,5]
for number in numbers:
    print(number)

1
2
3
4
5

In [17]:
tr_characters = "şçöğüİ"
pasw = input("password: ")
for character in tr_characters:
    print("Your password shouldn't turkish character!")

password: kolo
Your password shouldn't turkish character!
Your password shouldn't turkish character!
Your password shouldn't turkish character!
Your password shouldn't turkish character!
Your password shouldn't turkish character!
Your password shouldn't turkish character!

In [14]:
tr_characters = "şçöğüİ"
pasw = input("password: ")
for character in tr_characters:
    if pasw == character:
        print("Your password shouldn't turkish character!")
    else:
        print("Welcome")

password: klkllklkş
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome

In [2]:
while True:
    password = input("Enter a password, please: ")
    if not password:
        print("please you enter the password.")
    elif len(password) in range(3,8):
        print(f"new password: {password}")
        break
    else:
        print("your password be with three between eight character")

Enter a password, please: asasaasaa
your password be with three between eight character
Enter a password, please: adisşasdai
your password be with three between eight character
Enter a password, please:
please you enter the password.
Enter a password, please: halo44
new password: halo44

In [5]:
while True:
    s = input("Enter a password, please: (write 'x' for cancel.)")
    if s == "x":
        break
    if len(s) <= 3:
        continue
    print("you only insert must one number of the three digit.")

Enter a password, please: (write 'x' for cancel.)sadasdsaadssasa
you only insert must one number of the three digit.
Enter a password, please: (write 'x' for cancel.)asdadasd
you only insert must one number of the three digit.
Enter a password, please: (write 'x' for cancel.)asa
Enter a password, please: (write 'x' for cancel.)x

## Try-except

In [13]:
first_number = input("first number: ")
second_number = input("second number: ")

try:
    numb1 = int(first_number)
    numb2 = int(second_number)
    print(f"numb1: {numb1} / numb2: {numb2} = {numb1 / numb2}")
except ZeroDivisionError:
    print("You can't divide a number by zero")
except ValueError:
    print("only enter number, please.")

first number: 100
second number: 1/5
only enter number, please.

In [1]:
first_number = input("first number: ")
second_number = input("second number: ")

try:
    numb1 = int(first_number)
    numb2 = int(second_number)
    print(f"numb1: {numb1} / numb2: {numb2} = {numb1 / numb2}")
except:
    print("There are wrong one things. You try again, please!")

first number: 26
second number: i,
There are wrong one things. You try again, please!

### Lists

In [1]:
name = "Huxoo Siner"
list1 = list(name)
print(list1)

['H', 'u', 'x', 'o', 'o', ' ', 'S', 'i', 'n', 'e', 'r']

In [8]:
fruit = ["apple", "melon", "cherry", "banana", "strawberry", "peace", "orange"]
fruit[0:3]

['apple', 'melon', 'cherry']

In [3]:
fruit[1:5]

['melon', 'cherry', 'banana', 'strawberry']

In [9]:
for fruits in range(len(fruit)):
    print(f"{fruits} {fruit[fruits]}")

0 apple
1 melon
2 cherry
3 banana
4 strawberry
5 peace
6 orange

In [1]:
numbers = 0
notes = []
for i in range(10):
    data = int(input(f"{i+1} note: "))
    numbers += data
    notes += [data]
print("the notes your entered: ", *notes)
print("Your note avarage: ", numbers / 10)

1 not: 85
2 not: 65
3 not: 45
4 not: 55
5 not: 12
6 not: 85
7 not: 90
8 not: 65
9 not: 72
10 not: 100
the notes your entered:  85 65 45 55 12 85 90 65 72 100
Your note avarage:  67.4

In [3]:
del_list = [1,2,3,4,5,6]
del del_list[5]
print(del_list)

[1, 2, 3, 4, 5]

In [8]:
number_list = [1,2,3,4,5,6]
number_list.append(7)
print(number_list)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
nn_list = [1,2,3]
for i in range(5):
    data1 = i + 1
    nn_list.append(data1)
print(nn_list)

[1, 2, 3, 1, 2, 3, 4, 5]

In [17]:
li1 = ["apple", "banana", "cucumber"]
li2 = ["cherry", "melon", "peace"]
li1.extend(li2)
print(li1)

['apple', 'banana', 'cucumber', 'cherry', 'melon', 'peace']

In [18]:
li1.insert(0, "watermelon")
print(li1)

['watermelon', 'apple', 'banana', 'cucumber', 'cherry', 'melon', 'peace']

In [20]:
li1.remove("watermelon")
print(li1)

['apple', 'banana', 'cucumber', 'cherry', 'melon', 'peace']

In [21]:
li1.reverse()
print(li1)

['peace', 'melon', 'cherry', 'cucumber', 'banana', 'apple']

In [22]:
li1.pop()
print(li1)

['peace', 'melon', 'cherry', 'cucumber', 'banana']

### File operations

In [24]:
document = open("exercises.txt", "x")

In [25]:
document = open("exercises.txt", "w")
document.write("This folder is a test document.")
document.close()

In [26]:
document = open("exercises.txt", "r")
print(document.read())
document.close()

This folder is a test document.

In [27]:
document = open("exercises.txt", "w")
document.write(" Now, i will add new things. Because i need some to the text.")
document.close()

In [28]:
document = open("exercises.txt", "r")
print(document.readline())

 Now, i will add new things. Because i need some to the text.

In [29]:
document = open("exercises.txt", "a")
document.write("This folder is a test document. \n")
document.close()

In [30]:
try:
    document = open("exercises.txt", "r")
    print(document.read())
except IOError:
    print("Formed a mistake!")
finally:
    document.close()

 Now, i will add new things. Because i need some to the text.This folder is a test document.

In [31]:
try:
    document = open("exercises.txt", "a")
    with open("exercises.txt", "a") as document:
        document.write(". added new feature")
except IOError:
    print("Formed a mistake!")
finally:
    document.close()

In [32]:
try:
    document = open("exercises.txt", "r")
    print(document.read())
except IOError:
    print("Formed a mistake!")
finally:
    document.close()

 Now, i will add new things. Because i need some to the text.This folder is a test document.
. added new feature

In [35]:
import os
if os.path.exists("exercises.txt"):
    os.remove("exercises.txt")
else:
    print("file isn't present.")

### Functions

In [2]:
def counter(word):
    counter = 0
    for letter in word:
        counter += 1
    return counter

counter("goodvibes")

9

In [27]:
value = input("Please you enter the word: ")
print(f"Your word: {value}\nNumber of your word: {counter(value)}")

Please you enter the word: Hello, my name is Barbara.
Your word: Hello, my name is Barbara.
Number of your word: 26

In [7]:
from getpass import getpass

print("FACEBOOK")
val1 = input("Do you want to open account? Say: 'yes or no': ")
if val1 == "yes":
    print("Okey, you create yourself new nickname, now.")
    val2 = input("nickname: ")
    if counter(val2) < 3 or counter(val2) > 8:
        print("Stop! your nickname must be between three and eight characters.")
    else:
        print(f"Good job {val2}. Now, you create your password.")
        try:
            val3 = getpass("password: ")
            print(f"Welcome to Facebook, {val2}")
        except ValueError:
            print("Please only enter the number")
else:
    print("Okay, see you later")

FACEBOOK
Do you want to open account? Say: 'yes or no': yes
Okey, you create yourself new nickname, now.
nickname: huxoo
Good job huxoo. Now, you create your password.
password: ········
Welcome to Facebook, huxoo

In [14]:
import random
def random_number(start=0, stop=500, piece=6):
    numbers = set()
    while len(numbers) < piece:
        numbers.add(random.randrange(start, stop))
    return numbers
print(random_number(50,525,5))

{136, 297, 177, 123, 510}

In [18]:
def factoriel(number):
    result = 1
    while(number >= 1):
        result *= number
        number -= 1
    return result
print(factoriel(5))

120

In [19]:
def factor(number): #Recursive func
    if(number == 1):
        return 1
    else:
        return number * factor(number - 1)
print(factor(5))

120

## Data Science

### Chracter (str) > Methotds

In [2]:
#Replace()
space = "Hello world, what's up?"
print(space.replace(" ", "/"))

Hello/world,/what's/up?

In [5]:
e_toletter = "explode"
print(e_toletter.replace("e", "", 1))

xplode

In [6]:
#Split()

institutaion = "Grand National Assembly of Türkiye"
print(institutaion.split())

['Grand', 'National', 'Assembly', 'of', 'Türkiye']

In [12]:
#lower()

big_word = "HELLO, WORLD!"
print(big_word.lower())

hello, world!

In [14]:
password = input("please, enter a password: ")
password = password.lower()
print(f"{password} the password you entered is correct.")

please, enter a password: AsadeEQascaQWCASad
asadeeqascaqwcasad the password you entered is correct.

In [15]:
#upper()

small_word = "hello, world"
print(small_word.upper())

HELLO, WORLD

In [19]:
#islower and isupper

name = input("What is your name: ")
if not name.islower():
    print("Pls, Write your name for small letters. ")

What is your name: Huxoo
Pls, Write your name for small letters.

In [21]:
#endswith()

word = "apple"
print(word.endswith("e"))

True

In [25]:
#startswith()

word = input("pls, write a word: ")
if word.startswith("d"):
    print("yes, your word start with 'd' ")
else:
    print("No, your word don't start with 'd'")

pls, write a word: daddy
yes, your word start with 'd'

In [27]:
#capitalize()

word = "honki monki"
print(word.capitalize())

Honki monki

In [28]:
#title()

word = "honki monki donki"
print(word.title())

Honki Monki Donki

In [35]:
#strip() "start and end"

word = "doogy"
print(word.strip("d"))

oogy

## Lists

In [1]:
#basic list

fruits = ["banana", "apple", "cherry"]
print(type(fruits))

<class 'list'>

In [2]:
letter_list = ["a", "b", "ab", "c", "ac", "bc", "abc"]
print(letter_list[0])
print(letter_list[2])
print(letter_list[5])

a
ab
bc

In [1]:
jobs = ["Grocer", "Judge", "Fisherman", ["Nurse", "Doctor", "Vet", "Chemist"]]
print(*jobs[3])
print(jobs[3][0])
print(jobs[3][3])

Nurse Doctor Vet Chemist
Nurse
Chemist

In [5]:
jobs[1] = "Lawyer"
print(jobs)

['Grocer', 'Lawyer', 'Fisherman', ['Nurse', 'Doctor', 'Vet', 'Chemist']]

In [12]:
numbers = 0
notes = [] # or list(notes)
for i in range(10):
    data = int(input(f"{i+1}. not: "))
    numbers += data
    notes += [data]
    print("Entered notes: ", *notes)
    print(f"Note avarage: {numbers / 10}")

1. not: 54
Entered notes:  54
Note avarage: 5.4
2. not: 78
Entered notes:  54 78
Note avarage: 13.2
3. not: 88
Entered notes:  54 78 88
Note avarage: 22.0
4. not: 90
Entered notes:  54 78 88 90
Note avarage: 31.0
5. not: 56
Entered notes:  54 78 88 90 56
Note avarage: 36.6
6. not: 66
Entered notes:  54 78 88 90 56 66
Note avarage: 43.2
7. not: 58
Entered notes:  54 78 88 90 56 66 58
Note avarage: 49.0
8. not: 90
Entered notes:  54 78 88 90 56 66 58 90
Note avarage: 58.0
9. not: 78
Entered notes:  54 78 88 90 56 66 58 90 78
Note avarage: 65.8
10. not: 90
Entered notes:  54 78 88 90 56 66 58 90 78 90
Note avarage: 74.8

In [13]:
# list comprehensions:

a_list = [i for i in range(10)]
print(a_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
b_list = [i for i in range(100) if i % 2 == 0]
print(b_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [3]:
fruits_list = ["apple", "banana","cherry", "melon", "mango", "strawberry", "orange"]
new_list = [i for i in fruits_list if "r" in i]
print(new_list)

['cherry', 'strawberry', 'orange']

In [22]:
new_list_2 = [i for i in fruits_list if i != "apple"]
print(new_list_2)

['banana', 'cherry', 'melon', 'mango', 'strawberry', 'orange']

In [31]:
new_list_3 = [i.upper().replace(" ", "-") for i in fruits_list]
print(*new_list_3)

APPLE BANANA CHERRY MELON MANGO STRAWBERRY ORANGE

In [25]:
new_list_4 = [i.startswith("m") for i in fruits_list]
print(new_list_4)

[False, False, False, True, True, False, False]

In [33]:
new_list_5 = ["juice " for i in fruits_list]
print(new_list_5)

['juice ', 'juice ', 'juice ', 'juice ', 'juice ', 'juice ', 'juice ']

In [4]:
new_list_6 = [i if i != "banana" else "peach" for i in fruits_list]
print(new_list_6)

['apple', 'peach', 'cherry', 'melon', 'mango', 'strawberry', 'orange']

In [21]:
new_list_6 = str(new_list_6).strip("[").strip("]").replace("'", " ").replace(",", " ").replace("   ", "")
print(new_list_6)

 apple peach cherry melon mango strawberry orange

In [52]:
a_list = [1,2,3,4,5]
b_list = [i * 2 - 1 for i in a_list]
print(b_list)

[1, 3, 5, 7, 9]

In [54]:
c_list = [x * -1 for x in b_list if x > 3]
print(c_list)

[-5, -7, -9]

In [55]:
d_list = [abs(x) * 2 for x in c_list]
print(d_list)

[10, 14, 18]

## List Methots

In [1]:
#Append
a_list = ["ab", "bc", "cd"]
a_list.append("dg")
print(a_list)

['ab', 'bc', 'cd', 'dg']

In [2]:
b_list = ["ab", "cd", "fg"]
for i in ["a", "b", "c"]:
    b_list.append(i)
print(b_list)

['ab', 'cd', 'fg', 'a', 'b', 'c']

In [8]:
#extend

list1 = ["one", "two", "three"]
list2 = [1,2,3]

list1.extend(list2)
print(list1)

['one', 'two', 'three', 1, 2, 3]

In [9]:
#insert

list_one = ["a", "box", "beer"]
list_one.insert(1, "lot")
print(list_one)

['a', 'lot', 'box', 'beer']

In [10]:
#remove

list1 = ["my", "uncle", "is", "rich"]
list1.remove("rich")
print(list1)

['my', 'uncle', 'is']

In [1]:
#reverse

list_3 = ["my", "job", "is", "terrible"]
list_3.reverse()
print(list_3)

['terrible', 'is', 'job', 'my']

In [2]:
#pop

list_4 = ["one", "two", "three"]
list_4.pop(1)
print(list_4)

['one', 'three']

In [5]:
#sort

numbers = [1,3,5,6,7,12,221,34]
numbers.sort()
print(numbers)

[1, 3, 5, 6, 7, 12, 34, 221]

In [6]:
letters = ["v", "c", "a", "g", "r"]
letters.sort()
print(letters)

['a', 'c', 'g', 'r', 'v']

## Dictionaries

In [8]:
# define dictionary

word_tranlate = {"box": "kutu",
                "blow up": "patlamak",
                "consist": "meydana gelmek"}
print(word_tranlate["consist"])

meydana gelmek

In [14]:
k = 0
for i in word_tranlate:
    k += 1
    print(f"{k}. {i} ==> {word_tranlate[i]}")

1. box ==> kutu
2. blow up ==> patlamak
3. consist ==> meydana gelmek

In [18]:
human = {"x_person": {"country": "Turkey",
                     "age": 22,
                     "job": "worker"},
        "y_person": {"country": "Turkey",
                    "age": 14,
                    "job": "student"}}
print(human["x_person"])

{'country': 'Turkey', 'age': 22, 'job': 'worker'}

In [19]:
for i in human:
    print(f"{i} ... {human[i]}")

x_person ... {'country': 'Turkey', 'age': 22, 'job': 'worker'}
y_person ... {'country': 'Turkey', 'age': 14, 'job': 'student'}

In [20]:
# add item to dictionary

dict_1 = {}
dict_1["low"] = "düşük"
print(dict_1)

{'low': 'düşük'}

In [1]:
# modify dictionary items

word_tranlate = {"box": "kutu",
                "blow up": "patlamak",
                "consist": "meydana gelmek",
                "envy": "sevinmek"}
print(word_tranlate)

{'box': 'kutu', 'blow up': 'patlamak', 'consist': 'meydana gelmek', 'envy': 'sevinmek'}

In [2]:
word_tranlate["envy"] = "imrenmek"
print(word_tranlate)

{'box': 'kutu', 'blow up': 'patlamak', 'consist': 'meydana gelmek', 'envy': 'imrenmek'}

### Dictionary Methots

In [3]:
#keys

word_tranlate = {"box": "kutu",
                "blow up": "patlamak",
                "consist": "meydana gelmek"}
print(word_tranlate.keys())

dict_keys(['box', 'blow up', 'consist'])

In [4]:
#values

word_tranlate = {"box": "kutu",
                "blow up": "patlamak",
                "consist": "meydana gelmek"}

print(word_tranlate.values())

dict_values(['kutu', 'patlamak', 'meydana gelmek'])

In [5]:
#items

word_tranlate = {"box": "kutu",
                "blow up": "patlamak",
                "consist": "meydana gelmek"}

print(word_tranlate.items())

dict_items([('box', 'kutu'), ('blow up', 'patlamak'), ('consist', 'meydana gelmek')])

In [6]:
for key, value in word_tranlate.items():
    print(f"{key} = {value}")

box = kutu
blow up = patlamak
consist = meydana gelmek

In [2]:
#get

word_translate = {"box": "kutu",
                "blow up": "patlamak",
                "consist": "meydana gelmek"}
query = input("Please, write the word you want to know the meaning of: ")

if query not in word_translate:
    print("Sorry this word not here.")
else:
    print(word_translate[query])

Please, write the word you want to know the meaning of:
Sorry this word not here.

In [3]:
query = input("Please, write the word you want to know the meaning of: ")
print(word_translate.get(query, "this word not yet"))

Please, write the word you want to know the meaning of: consist
meydana gelmek

## Functions

In [27]:
def reg_create(name, surname, no, city):
    print(f"""
    name: {name}
    surname: {surname}
    no: {no}
    city: {city}""")
    print("-" * 30)

In [5]:
reg_create("huxoo", "siner", "0541125", "Istanbul")

    name: huxoo
    surname: siner
    no: 0541125
    city: Istanbul
------------------------------

In [6]:
reg_create("güno", "cano", "5656565", "merkez")

    name: güno
    surname: cano
    no: 5656565
    city: merkez
------------------------------

In [11]:
# functions that do not take parameters

def greetings():
    print("Hello world!")

greetings()

Hello world!

In [15]:
def find_square(number):
    calc = print(f"the square of {number} number: {number * number}")
    return calc

In [16]:
find_square(8)

the square of 8 number: 64

In [21]:
def chracter_numb(text):
    counter = 0
    for count in text:
        counter += 1
    return counter

chracter_numb("hello_world")

11

In [25]:
log = input("text: ")
if chracter_numb(log) < 3:
    print("low text")
elif chracter_numb(log) > 8:
    print("upper text")
else:
    print("very text")

text: mickeymouse
upper text

In [6]:
# Determining a random number of anonymous parameters.

def multi(*numbers):
    result = 1
    for i in numbers:
        result *= i
    print(result)

In [7]:
multi(4,2,3)

24

In [21]:
# Determining a random number of noun parameters.

def reg_create(**info):
    for key, value in info.items():
        print(f"{key:<10}: {value}")
    print("-" * 30)

reg_create(name= "huxoo", surname= "siner", no= "0123456")
reg_create(name= "cevat", surname= "ali", no= "5555")

name      : huxoo
surname   : siner
no        : 0123456
------------------------------
name      : cevat
surname   : ali
no        : 5555
------------------------------

In [2]:
# Return #

def what_is_name():
    name = input("what is your name? ")
    return name
print(f"Hi, {what_is_name()}")

what is your name? Huxoo
Hi, Huxoo

In [3]:
# Scope of functions and 'global' expression.

x = 1

def important(x):
    x = 0
    print(x)
important(1)

0

In [4]:
x = []
def change():
    print("we are changing 'x'")
    x.append(1)
    return x
change()

we are changing 'x'

[1]

In [2]:
# filter function #

numbers = [110, 113, 241, 274, 320, 350, 342, 415]

def single_numb(numbers):
    return numbers % 2 == 1
print(*filter(single_numb, numbers))

113 241 415

In [4]:
def double_numb(numbers):
    return numbers % 2 == 0

[i for i in filter(double_numb, numbers)]

[110, 274, 320, 350, 342]

In [11]:
# divmod() function

divmod(81, 9)

(9, 0)

In [12]:
divmod(18, 4)

(4, 2)

In [13]:
# enumerate() function

[i for i in enumerate("huxoo")]

[(0, 'h'), (1, 'u'), (2, 'x'), (3, 'o'), (4, 'o')]

In [14]:
letters = ["a", "b", "c", "d", "e"]

for i in enumerate(letters):
    print(i)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [16]:
fruits = ["apple", "cherry", "banana", "melon"]

for i, j in enumerate(fruits, 1):
    print(i, j)

1 apple
2 cherry
3 banana
4 melon

In [17]:
# zip() function

a = ['a', "b", 'c', 'd']
b = [1, 2, 3, 4]

print(*zip(a,b))

('a', 1) ('b', 2) ('c', 3) ('d', 4)

In [19]:
names = ['huxoo', 'dave', 'john']
ages = [22, 28, 40]

for n, a in zip(names, ages):
    print(f"name: {n} / age: {a}")

name: huxoo / age: 22
name: dave / age: 28
name: john / age: 40

In [24]:
# out of order list

irregular_list = [('b', 3), ('a', 8), ('d', 12), ('c', 1)]

print(sorted(irregular_list, key = lambda x:x[1]))

[('c', 1), ('b', 3), ('a', 8), ('d', 12)]

In [26]:
print(sorted(irregular_list, key = lambda x:x[0]))

[('a', 8), ('b', 3), ('c', 1), ('d', 12)]

## Advanced Functions

In [28]:
# lambda functions

def total(x,y):
    return x + y
total(246,365)

611

In [29]:
func = lambda x, y: x + y
print(func)

<function <lambda> at 0x00000269236FFC10>

In [30]:
take_square = lambda x: x ** 2
result = take_square(7)
print(result)

49

In [31]:
# map() function

numbers = [2,4,6,8,10]
take_square = list(map(lambda x: x ** 2, numbers))
print(take_square)

[4, 16, 36, 64, 100]

In [34]:
# Recursive functions #

def reduce(s):
    if len(s) < 1:
        return s
    else:
        print(s)
        return reduce(s[1:])

reduce('simple love')

simple love
imple love
mple love
ple love
le love
e love
 love
love
ove
ve
e

''

In [37]:
# Nested functions #

def printer():
    def write(message):
        print(message)
    return write

wy = printer()
wy('Hello world!')

Hello world!

In [38]:
wy("Hi, eartquake!")

Hi, eartquake!

In [39]:
a = 5
b = 25

wy(a * b)

125

In [48]:
# Nonlocal expression with nested functions #

def scope_func():
    nonlocal_variable = 1
    def nested_func():
        nonlocal_variable = 2
        print(nonlocal_variable)
    return nested_func

In [50]:
a = 1

def func():
    a = 2
    print(a)

func()

2

In [51]:
a = 1
def func():
    print(a)
func()

1

In [53]:
a = 1

def func():
    global a
    a += 1
    print(a)
func()

2

In [59]:
# usage area of nested functions

def transact(number, dividing, *added):
    result = number / dividing
    for i in added:
        result += i
    return result

transact(60, 5, 22)

34.0

In [61]:
#identification of generators

#yield expression and next functions

def generator():
    yield "hi"
    yield "world!"

nxt = generator()
next(nxt)

'hi'

In [62]:
next(nxt)

'world!'

In [63]:
next(nxt)

StopIteration:

In [2]:
def fibonacci():
    x = 1
    y = 0
    z = 0
    while True:
        z = y
        y = x
        x = y + z
        yield x

In [3]:
next(fibonacci())

1

In [4]:
k = 755
for i in fibonacci():
    if i < k:
        print(i)
    else:
        break

1
2
3
5
8
13
21
34
55
89
144
233
377
610

In [10]:
def write(number):
    for i in range(number):
        print( "Hello World!")
        yield
        
y = write(5)
for i in y:
    print(i)

Hello World!
None
Hello World!
None
Hello World!
None
Hello World!
None
Hello World!
None

In [13]:
# 'yield from' expression:

def generator1():
    yield "generator1 started"
    yield "generator1 finished"

def generator2():
    yield "generator2 started"
    yield from generator1()
    yield "generator2 finished"

for i in generator2():
    print(i)

generator2 started
generator1 started
generator1 finished
generator2 finished

In [15]:
for i in generator1():
    print(i)

generator1 started
generator1 finished